.idea/
logs/
runs/
.vscode/
__pycache__/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
settings.json
.DS_Store
*.pyc
__pycache__
.pytest_cache/